<footer id="contact" class="footer">
    <div class="footer-content">
        <div class="footer-section">
            <h3>Sami Swoi 🚜</h3>
            <p>Wspieramy rolników w bezpośredniej sprzedaży ich plonów dzięki nowoczesnym automatom vendingowym. Ty
                dostarczasz świeżość, my technologię.</p>
        </div>
        <div class="footer-section">
            <h3>Kontakt</h3>
            <p>📞 +48 784 895 309</p>
            <p>✉️ kontakt@samiswoi-automaty.pl</p>
            <p>📍 ul. Komandosów 25, 30-330 Kraków</p>
        </div>
        <div class="footer-section">
            <h3>Godziny otwarcia infolinii</h3>
            <p>Poniedziałek - Piątek: 8:00 - 18:00</p>
            <p>Sobota: 9:00 - 14:00</p>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; {{ currentYear }} Sami Swoi. Wszelkie prawa zastrzeżone.</p>
    </div>
</footer>