<!-- Sekcja Powitalna -->
<section id="hero" class="hero">
    <div class="hero-content">
        <h1>Sprzedawaj swoje plony bezpośrednio! 24/7.</h1>
        <p>Omiń pośredników. Pomagamy rolnikom w zakupie i montażu nowoczesnych automatów sprzedających na warzywa,
            sery, mleko i jajka. Ty dostarczasz świeżość, my technologię.</p>
        <a class="cta-button" routerLink="/parcels">Wybierz swój automat</a>
    </div>
</section>

<!-- Sekcja Jak to działa -->
<section id="how-it-works" class="features">
    <h2>Jak zacząć sprzedaż z Sami Swoi?</h2>
    <div class="cards-container">
        <div class="card">
            <div class="icon">🛒</div>
            <h3>1. Wybór Maszyny</h3>
            <p>Oferujemy warzywomaty, mlekomaty i automaty chłodnicze na nabiał. Pomagamy dobrać sprzęt do Twoich
                produktów.</p>
        </div>
        <div class="card">
            <div class="icon">🔧</div>
            <h3>2. Montaż i Szkolenie</h3>
            <p>Przywozimy maszynę w wybrane przez Ciebie miejsce, instalujemy ją i uczymy Cię, jak samodzielnie nią
                zarządzać.</p>
        </div>
        <div class="card">
            <div class="icon">💰</div>
            <h3>3. 100% Zysku dla Ciebie</h3>
            <p>Samodzielnie uzupełniasz towar, kiedy chcesz. Klienci płacą kartą lub gotówką, a cała marża zostaje w
                Twojej kieszeni.</p>
        </div>
    </div>
</section>